<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page not found</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{>notfound}}
    </div>

    {{>footer}}
  </body>
</html>
